<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moonyou_test">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        >
        <meta-data android:name="android.max_aspect" android:value="ratio_float"/>
        <activity android:name=".intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".board_write"/>
        <activity android:name=".maincommpage2"
            android:windowSoftInputMode="adjustUnspecified|adjustPan"/>
        <activity android:name=".book_final" />
        <activity android:name=".maincommunity" />
        <activity android:name=".help_center" />
        <activity android:name=".show_main" />
        <activity android:name=".book_seat" />
        <activity android:name=".book_calender" />
        <activity android:name=".mypage_main" />
        <activity android:name=".MainActivity2"
            android:windowSoftInputMode="adjustUnspecified|adjustPan"/>
        <activity android:name=".Login" />
        <activity android:name=".Register"/>
        <activity android:name=".myticket"/>
        <activity android:name=".MainActivity" />
        <activity android:name=".showcommunity"/>
        <activity android:name=".showcommunity2"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>